@page
@model NHLCafe.Pages.Shared.bestellen

@{
    Layout = null;
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button href="#bestellen" class="nav-link active" id="Bestellen-tab" data-bs-toggle="tab" data-bs-target="#Bestellen" type="button" role="tab" aria-controls="Bestellen" aria-selected="true">Bestellen</button>
    </li>
    <li class="nav-item" role="presentation">
        <button href="#overzicht" class="nav-link" id="Overzicht-tab" data-bs-toggle="tab" data-bs-target="#Overzicht" type="button" role="tab" aria-controls="Overzicht" aria-selected="false">Overzicht</button>
    </li>
    <li class="nav-item" role="presentation">
        <button href="#allesbetalen" class="nav-link" id="AllesBetalen-tab" data-bs-toggle="tab" data-bs-target="#AllesBetalen" type="button" role="tab" aria-controls="AllesBetalen" aria-selected="false">Alles betalen</button>
    </li>
    <li class="nav-item" role="presentation">
        <button href="#perbetalen" class="nav-link" id="PerPersoonBetalen-tab" data-bs-toggle="tab" data-bs-target="#PerPersoonBetalen" type="button" role="tab" aria-controls="PerPersoonBetalen" aria-selected="false">Per persoon betalen</button>
    </li>
</ul>