@page
@model NHLCafe.Pages.Bestellen

@{
    ViewData["Title"] = "Order page";
}
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="navbar-brand">NHL Café</li>
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="Order-tab" data-bs-toggle="tab" data-bs-target="#order" type="button" role="tab" aria-controls="order" aria-selected="true">Bestellen</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="Overview-tab" data-bs-toggle="tab" data-bs-target="#overview" type="button" role="tab" aria-controls="overview" aria-selected="false">Overzicht</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="PayAll-tab" data-bs-toggle="tab" data-bs-target="#payAll" type="button" role="tab" aria-controls="payAll" aria-selected="false">Alles betalen</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="PaySolo-tab" data-bs-toggle="tab" data-bs-target="#paySolo" type="button" role="tab" aria-controls="paySolo" aria-selected="false">Per persoon betalen</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="order" role="tabpanel" aria-labelledby="Order-tab">
    <h3>Bestellen</h3>
    
  </div>
  <div class="tab-pane fade" id="overview" role="tabpanel" aria-labelledby="Overview-tab">
    <h3>Overzicht</h3>
    
  </div>
  <div class="tab-pane fade" id="payAll" role="tabpanel" aria-labelledby="PayAll-tab">
    <h3>Rekening</h3>
    
  </div>
  <div class="tab-pane fade" id="paySolo" role="tabpanel" aria-labelledby="contact-tab">
    <h3>Per persoon betalen</h3>
    
  </div>
</div>
