@page
@model NHLCafe.Pages.Logout

@{
    ViewData["Title"] = "Logout page";
    
}

<h2>you have been succesfully logged out!</h2>
<script>     
    setTimeout("location.replace('/Login')",3000);     
</script>