@page
@model NHLCafe.Pages.Register

@{
    ViewData["Title"] = "Register page";
}
<body>
<div>
    <form id="register">
        <input type="text" id="UserName" placeholder="UserName"/>
        <input type="password" id="Password" placeholder="Password"/>
        <button type="submit" id="Register">Registreer</button>
    </form>
</div>
</body>
